.background{
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: center;
}
div img{
    width: 300px !important;
    height: 300px !important;
    border: 10px solid red;
    border-radius: 10px;
    display: none;
}
.image{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}